<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<link rel="stylesheet" href="/css/default.css">
<!--[if lt IE 8]>
<script src="js/a.ielt8.js"></script>
<![endif]-->
<!--[if IE 8]>
<script src="js/a.ie8.js"></script>
<![endif]-->
<script src="js/a.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="js/common"></script>
