<nav>
	<ul>
		<li class="ident">
			<a href="/">Aintaer.com</a>
		</li>
		<li class="ident">
			<span title="Come at me bro">Contact</span>
		</li>
		<li class="ident">
			<span title="whoami:24601">About</span>
		</li>
	</ul>
</nav>
