<nav>
	<a class="ident" href="/">Aintaer.com</a>
	<ul>
		<li class="ident"><span title="Come at me bro">Contact</span></li>
		<li class="ident"><span title="whoami:24601">About</span></li>
	</ul>
</nav>
