/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

#navigation {
  position: fixed;
  top: 0;
  right: 40px;
  padding: 3px 7px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}
#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
#navigation li {
  display: inline;
}

.cfaydi {
  font: 18px/24px "Source Sans Pro", sans-serif;
  color: #242424;
}
.cfaydi #navigation {
  border-color: #242424;
}
.cfaydi #content {
  margin: auto;
  margin-top: 80px;
  max-width: 940px;
  min-width: 320px;
}
.cfaydi h1 {
  font-size: 36px;
}
.cfaydi h2 {
  font-size: 24px;
}
.cfaydi h3 {
  font-size: 18px;
}

.teengirl {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(14%, #ff7f00), color-stop(32%, #faff00), color-stop(50%, #10ff00), color-stop(67%, #1000ff), color-stop(83%, #8700ff), color-stop(100%, #de47ac), color-stop(100%, #e500ff));
  background-image: -webkit-linear-gradient(top, #ff0000 0%, #ff7f00 14%, #faff00 32%, #10ff00 50%, #1000ff 67%, #8700ff 83%, #de47ac 100%, #e500ff 100%);
  background-image: -moz-linear-gradient(top, #ff0000 0%, #ff7f00 14%, #faff00 32%, #10ff00 50%, #1000ff 67%, #8700ff 83%, #de47ac 100%, #e500ff 100%);
  background-image: -o-linear-gradient(top, #ff0000 0%, #ff7f00 14%, #faff00 32%, #10ff00 50%, #1000ff 67%, #8700ff 83%, #de47ac 100%, #e500ff 100%);
  background-image: linear-gradient(top, #ff0000 0%, #ff7f00 14%, #faff00 32%, #10ff00 50%, #1000ff 67%, #8700ff 83%, #de47ac 100%, #e500ff 100%);
  color: #000;
  font-family: 'Comic Sans MS';
}
.teengirl #content {
  background-image: url("img/stars.gif");
}
