@import "util";
@import "prefixer";

@body_font: 'Source Sans Pro', sans-serif;
@base: #d0d0d0;
@back: #181818;
@highlight: #830300;

body {
	font-size: 18px;
	line-height: 24px;
	color: @base;
	padding: 0 4%;
	margin: 0;

	background-image: url("../img/binding_dark.png");
	@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
		background-image: url("../img/binding_dark_@2X.png");
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	padding: 3px 7px;
	border-color: lighten(@back, 20%);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	background-color: lighten(@back, 10%);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline;
	}

	li {
		display: inline;
		cursor: pointer;
	}

}

header {
	position: absolute;
	top: 60px;
	right: 50px;

	color: white;
	.gradient(#555, #777, #999);
	.inner-shadow(-1px -4px 10px #666);

	@theta: 9deg;
	.transform(rotate(@theta) skew(@theta) scale(1.1));
	.rounded(6px);

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: 4px;

		@size: 2.1ex;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 @size @size 0;
		border-color: transparent fade(white, 30%) transparent transparent;
	}
}

article, section {
	margin: 80px auto;
	max-width: 940px;
	min-width: 320px;
	background-color: fade(white, 10%);
	.rounded;
	padding: 8px 3ch;
}

a {
	color: lighten(@highlight, 40%);
	&:active {
		color: @highlight;
	}
	&:hover {
		color: lighten(@highlight, 50%);
		background-color: fadeout(contrast(@highlight), 80%);
	}
	&:visited {
		color: lighten(@highlight, 30%);
	}
}

code {
	color: @highlight;
	background-color: ghostwhite;
	border: 1px solid lightgray;
	.rounded;
}
