@import "util";
@import "prefixer";

@base: #d0d0d0;
@back: #181818;
@highlight: #830300;

body {
	font: 18px/24px sans-serif;
	color: @base;
	padding: 0 4%;
	margin: 0;

	background-image: url("../img/binding_dark.png");
	@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
		background-image: url("../img/binding_dark_@2X.png");
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	border-color: lighten(@back, 20%);
	border-style: solid;
	border-width: 0 0 1px;
	background-color: lighten(@back, 10%);

	line-height: 3ex;
	padding-left: 0.5em;

	@separation: 1/4em;
	.ident {
		display: inline-block;
		padding: 0 @separation;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline;
	}
	li {
		cursor: pointer;
	}

	.underscore {
		position: absolute;
		bottom: -1px;
		border-bottom: 1px solid lighten(@highlight, 20%);
		.transition(all 200ms);
	}
}

header {
	position: absolute;
	top: 60px;
	right: 50px;

	color: white;
	.gradient(#555, #777, #999);
	.inner-shadow(-1px -4px 10px #666);

	@theta: 8deg;
	.transform(rotate(@theta) skew(@theta) scale(1.1));
	.rounded(6px);

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: 4px;

		@size: 2.1ex;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 @size @size 0;
		border-color: transparent fade(white, 30%) transparent transparent;
	}
}

article, section {
	margin: 80px auto;
	max-width: 940px;
	min-width: 320px;
	background-color: fade(white, 10%);
	.rounded;
	padding: 8px 3ch;
}

a {
	color: lighten(@highlight, 40%);
	&:active {
		color: @highlight;
	}
	&:hover {
		color: lighten(@highlight, 50%);
		background-color: fade(contrast(@highlight), 20%);
	}
	&:visited {
		color: lighten(@highlight, 30%);
	}
}

code {
	color: @highlight;
	background-color: fadeout(ghostwhite, 10%);
	.rounded;
}

.quicknav {
	.vertical-align;
	.border-box;
	position: fixed;
	left: 0;
	width: 100%;
	padding: 0 2%;

	a {
		@size: 2em;
		.clearfix;
		.circle(@size/2);
		font-size: @size;
		text-decoration: none;
		color: @back;
		background-color: fade(@base, 20%);

		&:hover {
			background-color: @base;
		}
		&.left {
			float:left;
		}
		&.right {
			float:right;
		}
	}
}
