@import "prefixer";

.clearfix {
	display: block;
	zoom: 1;

	&:after {
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.rounded(@radius: 3px) {
	@pad: 0.4ch;
	border-radius: @radius;
	padding-left: @pad;
	padding-right: @pad;
}

.circle(@radius: 100px) {
	border-radius: 50%;
	width: @radius;
	height: @radius;
}

.vertical-align(@pos: 50%) {
	position: relative;
	top: @pos;
	.transform(translateY(-@pos));
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}
