.clearfix {
	display: block;
	zoom: 1;

	&:after {
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.rounded(@radius: 3px) {
	@pad: 0.5ch;
	border-radius: @radius;
	padding-left: @pad;
	padding-right: @pad;
}
