<!DOCTYPE html>
<html>
<head>
  <title>The Best Website On The Internet (Beta)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/default.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
  <nav id="navigation">
    Looks:
    <ul>
      <li class="plain">basic</li>
      <li class="cfaydi">Clément</li>
    </ul>
  </nav>
  <div id="content">
    <!-- rendered content -->
  </div>
  <script src="js/app/index.js"></script>
</body>
</html>
