<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	{{> head}}
</head>
<body>
	{{> navigation}}
	{{> header}}

	<main class="grid">
		<article class="content">
{{{contents}}}
		</article>
	</main>

	{{> footer}}
</body>
</html>
