<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<link rel="stylesheet" href="css/default.css">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body class="cfaydi">
	{{> navigation}}
	{{# page }}
	<article id="content">
		{{{html}}}
	</article>
	{{/page}}
	<script src="js/app/index.js"></script>
</body>
</html>
