<!DOCTYPE html>
<html>
<head>
	<title>beta.aintaer.com</title>
	{{> head}}
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	{{> navigation}}

	{{#pagination}}
	<aside class="quicknav">
		{{#prev}}<a href="{{path}}" class="left icon-arrow-left5"></a>{{/prev}}
		{{#next}}<a href="{{path}}" class="right icon-arrow-right5"></a>{{/next}}
	</aside>
	{{/pagination}}

	{{{contents}}}

	<main class="grid grid-pad">
	{{# articles}}
	<article class="col-1-3" data-date="{{dateFormat date format='x'}}">
		<h4 class="heading">
			<a href="/{{filename}}">{{title}}</a>
		</h4>
		<section>{{{excerpt}}}</section>
	</article>
	{{/ articles}}
	</main>

	{{> footer}}
</body>
</html>
