<!DOCTYPE html>
<html>
<head>
	<title>beta.aintaer.com</title>
	{{> head}}
</head>
<body>
	{{> navigation}}

	<aside>
		{{#prevPage}}<a href="{{url}}">previous</a>{{/prevPage}}
		{{#nextPage}}<a href="{{url}}">next</a>{{/nextPage}}
	</aside>

	{{# articles}}<article>{{> index}}</article>{{/ articles}}
</body>
</html>
