<!DOCTYPE html>
<html>
<head>
	<title>beta.aintaer.com</title>
	{{> head}}
</head>
<body>
	{{> navigation}}
	{{> header}}

	{{#pagination}}
	<aside class="quicknav">
		{{#prev}}<a href="{{path}}" class="left icon-arrow-left5"></a>{{/prev}}
		{{#next}}<a href="{{path}}" class="right icon-arrow-right5"></a>{{/next}}
	</aside>
	{{/pagination}}

	{{{contents}}}

	{{# articles}}
	<article>{{{contents}}}</article>
	{{/ articles}}
	{{> footer}}
</body>
</html>
